<div class="text-center custom-clay-red-bg">
  <div class="d-flex justify-content-center custom-clay-red-bg">
    <div class="col-md-4 mb-4 custom-clay-red-bg fitness-font">
      <h1>New Workout Routine</h1>

      <%= render 'form', workout_routine: @workout_routine %>

      <%= link_to 'Back', workout_routines_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
