<ul class="list-group">
  <% @workout_routines.each do |workout_routine| %>
    <%= cache(workout_routine) do %>
      <li class="list-group-item custom-energize-green-bg">
        <%= link_to workout_routine.created_at.strftime("%B %d, %Y"), workout_routine_path(workout_routine), class: "text-decoration-none text-black" %>
      </li>
    <% end %>
  <% end %>
</ul>
<div class="d-flex justify-content-center mt-3">
  <%= paginate @workout_routines, remote: true, param_name: :workout_routine_page %>
</div>
