  <footer class="text-center text-lg-start custom-stealthblack-bg custom-navbar-text-white">
      <div class="text-center p-3 custom-navbar-text-white">
        © 2024 Fitness Equation:
        <a class="text-light" href="https://www.linkedin.com/in/briankim47/">Brian Kim</a>
      </div>
    </footer>
