<title>Fitness Equation | Take Control of Your Weight Loss/Gain Timeline</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Predict your weight loss/gain timeline with Fitness Equation | Calculate your One Rep Max (1RM) | Track your workouts and exercises">
<meta name="image" property="og:image" content="<%= asset_path('brain.png') %>">
<meta name="ogtitle" property="og:title" content="Fitness Equation | Take Control of Your Weight Loss/Gain Timeline">
<meta name="ogdescription" property="og:description" content="Predict your weight loss/gain timeline with Fitness Equation | Calculate your One Rep Max (1RM) | Track your workouts and exercises">
<meta name="ogurl" property="og:url" content="https://fitnessequation.onrender.com/">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Fitness Equation">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="<%= asset_path('brain.png') %>">
<meta name="twitter:title" content="Fitness Equation | Take Control of Your Weight Loss/Gain Timeline">
<meta name="twitter:description" content="Predict your weight loss/gain timeline with Fitness Equation | Calculate your One Rep Max (1RM) | Track your workouts and exercises">
<meta name="twitter:site" content="@fitnessequation">
<meta name="twitter:creator" content="@fitnessequation">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>
