/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .custom-green-bg {
  background-color: #32CD32 !important; /* Bootstrap's green color */
}
 .custom-orange-bg {
  background-color: #FFA500 !important; /* Bootstrap's orange color *//* Bootstrap's orange color */
}
 .custom-red-bg {
  background-color: #FF6347 !important;/* Bootstrap's red color */
}

.custom-green-border {
  border: 5px solid #32CD32; /* Custom green color */
  animation: green-border-animation 2s infinite;
}

@keyframes green-border-animation {
  0% {
    border-color: #32CD32;
  }
  50% {
    border-color: #00FF00; /* Lighter green color */
  }
  100% {
    border-color: #32CD32;
  }
}
.fitness-font {
  font-family: 'Bebas Neue', sans-serif;
}
.sans-font {
  font-family: 'Open Sans', sans-serif;
}

.custom-fitness-btn {
  font-size: 1.5rem; /* Increase font size */
  padding: 1rem 2rem; /* Add padding */
  background-color: #28a745; /* Custom green color */
  border: none; /* Remove border */
  border-radius: 50px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
  transition: transform 0.2s; /* Smooth transition */
}

.custom-fitness-btn:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
  background-color: #218823; /* Darker green color */
}
.custom-fitness-btn:active {
  transform: scale(1); /* Return to original size */
  background-color: #218838; /* Darker green color */
}
.custom-fitness-btn:focus {
  outline: none; /* Remove focus border */
}
.bungee-tint-regular {
  font-family: "Bungee Tint", serif;
  font-weight: 400;
  font-style: normal;
}
