<div class="text-center custom-orange-bg">
  <div class="d-flex justify-content-center custom-orange-bg">
    <div class="col-md-4 mb-4 custom-orange-bg">
<h1>New Exercise</h1>

<%= render 'form', workout_routine: @workout_routine, exercise: @exercise %>

<%= link_to 'Back', workout_routine_exercises_path(@workout_routine), class: 'btn btn-secondary' %>
</div>
</div>
</div>
